.*.swp
.cproject
.project
Makefile*
debian
/Accounts/AccountsQt*Config.cmake
/Accounts/AccountsQt*ConfigVersion.cmake
/coverage-html/
/coverage.info
/doc/accounts-qt.tags
/doc/html
/doc/qch
moc_*
*~
*.gcda
*.gcno
*.o
*.tar.*
